.sayfa-başlığı {
    height: 10vh;
    width: 100vw;
    margin: none;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 50;
    
    background-color: #ffff0055;
}

.sayfa-gövdesi
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: teal;
}

.kullanıcı-çekmece
{
    height: 100vh;
    width: 0; /*açılınca 25vw*/
    position: absolute;
    top: 0;
    right: 0;
    z-index: 51;
    border-radius: 2px;
    background-color: rgb(146, 10, 225);
    transition: 750ms;
}

