.Yazı1
{
    text-align: center;
    color: black;
    font-size: medium;
}

.yazılar-girişyap
{
    text-align: left;
}

.nokta-başlıklar
{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;

    background-color: transparent;

    margin: 8vh 0 8vh;
}

.nokta-büyükBaşlık
{
    font-size: xx-large;
    color: black;
}

.nokta-altBaşlık
{
    font-size: x-large;
    color: rgb(81, 80, 80);
}

.nokta-bilgiler
{
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: sans-serif;
    color: rgb(50, 50, 50);

    background-color: transparent;

    margin: 8vh 0 8vh;
}

.nokta-diller
{
    margin: 2vh 0 2vh;
}

.nokta-koordinat
{
    margin: 2vh 0 2vh;
}

.nokta-link
{
    display: block;
    cursor: pointer;
    
    width: calc(80% - 6px);
    margin: 4vh auto;

    background-color: #40e0d0;
    border: 3px solid #40e0d0;
    border-radius: 10px;
    padding: 0.3em 0;

    color: #072c28;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: small;
    text-decoration: none;
}

.nokta-link:hover 
{
    background-color: #bdf4ef;
    border-color: #bdf4ef;
}

.nokta-link:hover a
{
    color: #158479;
}